<.flash_group flash={@flash} />
<div class="relative p-20 min-h-[50vh] text-center my-auto h-dvh flex flex-col gap-16 items-center justify-center">
  <h1 class="z-10 relative text-6xl bg-clip-text text-transparent bg-gradient-to-r to-indigo-100 from-fuchsia-100 font-semibold drop-shadow-lg">
    AI Quiz App
  </h1>
  <.link
    class="z-10 relative inline-block bg-fuchsia-500 drop-shadow-lg text-white text-2xl rounded-md px-10 py-4"
    navigate={~p(/questions)}
  >
    Quiz starten! 🚀
  </.link>
  <.background_animation />
</div>
